Law_Firm_v2.4_2026-01-17_PRODUCTION.json
{
  "name": "Law_Firm_v2.4_2026-01-17_PRODUCTION",
  "nodes": [
    {
      "parameters": {
        "content": "# Phase 1 -> Triggering and Document Intake",
        "height": 464,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        960
      ],
      "id": "ef693427-0e5f-4d24-9a27-f674bb47eeda",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Phase 2 -> Text Extraction",
        "height": 464,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        960
      ],
      "id": "ba016a94-b3e2-4689-8eb6-000afa8a22cf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "let text = $json.body;\n\n// VERY light cleanup only\ntext = text.replace(/\\r\\n/g, '\\n');\ntext = text.replace(/\\n{3,}/g, '\\n\\n');\n\n// Guardrail\nif (text.length < 1000) {\n  throw new Error(\"Extraction failed: text too short\");\n}\n\nreturn [{\n  json: {\n    document_id: $json.document_id,\n    extracted_text: text,\n    text_length: text.length,\n    page_count: $json.pageCount,\n    extraction_source: \"pdfco\"\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        1104
      ],
      "id": "5a7df5a4-81b9-4faf-a822-ab927236b43f",
      "name": "Function_NormalizeExtractedText",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "Convert from PDF",
        "url": "={{ $json.file_url }}",
        "advancedOptions": {
          "name": "extracted_doc",
          "pages": ""
        }
      },
      "type": "n8n-nodes-pdfco.PDFco Api",
      "typeVersion": 1,
      "position": [
        -336,
        1104
      ],
      "id": "4732794e-5afc-4bd4-86fd-8929286571c9",
      "name": "PDFCo_ExtractText",
      "credentials": {
        "pdfcoApi": {
          "id": "5nBRfpz06A0Mkp48",
          "name": "fortivsolutions"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $json.extracted_text;\n\n// ---- METADATA EXTRACTION (DOCUMENT LEVEL) ----\n\n// Dates (basic legal-friendly regex)\nconst dates = text.match(\n  /\\b(?:\\d{1,2}[\\/\\-]\\d{1,2}[\\/\\-]\\d{2,4}|(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)[a-z]*\\s+\\d{1,2},\\s+\\d{4})\\b/gi\n) || [];\n\n// Parties (very heuristic – acceptable for now)\nconst partyMatches = text.match(\n  /\\b(BETWEEN|BY AND BETWEEN)\\b([\\s\\S]{0,300})/i\n);\n\nconst parties = partyMatches\n  ? partyMatches[2].split('\\n').slice(0, 6).map(p => p.trim()).filter(Boolean)\n  : [];\n\n// Jurisdiction (fallback to intake if not found)\nlet jurisdiction = [];\nconst jurisdictionMatch = text.match(/governed by the laws of\\s+([A-Za-z\\s]+)/i);\nif (jurisdictionMatch) {\n  jurisdiction.push(jurisdictionMatch[1].trim());\n} else if ($json.jurisdiction) {\n  jurisdiction = $json.jurisdiction;\n}\n\n// ---- CHUNKING (Approx 8000 tokens ≈ 32k chars) ----\nconst CHUNK_SIZE = 32000;\nconst chunks = [];\n\nfor (let i = 0; i < text.length; i += CHUNK_SIZE) {\n  chunks.push(text.slice(i, i + CHUNK_SIZE));\n}\n\n// ---- OUTPUT ----\nreturn chunks.map((chunk, index) => ({\n  json: {\n    document_id: $json.document_id,\n    chunk_id: index,\n    text: chunk,\n    metadata: {\n      dates,\n      parties,\n      jurisdiction\n    }\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1104
      ],
      "id": "9441bbdb-79be-4aa2-a0ba-f4384fa0a171",
      "name": "Function_PreprocessDocument"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8a8cd96-e372-40af-8b75-d9ecb943aa62",
              "name": "client_name",
              "value": "={{ $('Set_NormalizeInput').item.json.client_name }}",
              "type": "string"
            },
            {
              "id": "453e5ba1-2dd0-4102-9e65-54ca0f5b69a9",
              "name": "client_email",
              "value": "={{ $('Set_NormalizeInput').item.json.client_email }}",
              "type": "string"
            },
            {
              "id": "89feda0a-722d-47a2-8956-422c4861ac7f",
              "name": "case_id",
              "value": "={{ $('Set_NormalizeInput').item.json.case_id }}",
              "type": "string"
            },
            {
              "id": "9e30988a-5d03-4d67-a8a5-0c5a527edb99",
              "name": "document_type",
              "value": "={{ $('Set_NormalizeInput').item.json.document_type }}",
              "type": "string"
            },
            {
              "id": "09293970-6b9f-4e55-bfc6-27c612260a30",
              "name": "analysis_type",
              "value": "={{ $('Set_NormalizeInput').item.json.analysis_type }}",
              "type": "array"
            },
            {
              "id": "a39e0489-306d-43aa-8353-1f27226b8df7",
              "name": "jurisdiction",
              "value": "={{ $('Set_NormalizeInput').item.json.jurisdiction }}",
              "type": "string"
            },
            {
              "id": "8edcc17a-e1d5-483e-9bd6-b414c2a7a7fa",
              "name": "urgency_level",
              "value": "={{ $('Set_NormalizeInput').item.json.urgency_level }}",
              "type": "string"
            },
            {
              "id": "54d9bc42-98dd-4a4e-940b-d12ea98e8b16",
              "name": "chunk_id",
              "value": "={{ $json.chunk_id }}",
              "type": "number"
            },
            {
              "id": "a8938754-4103-473c-99ed-5d19988b3891",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1104
      ],
      "id": "e8995e94-12eb-47ee-b4d3-b934e4992839",
      "name": "Add_Metadata_&_ExtractedText"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.document_type }}",
                    "rightValue": "Contract",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3feda212-4e97-49ad-8ea2-0b2171e9557e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Contract Analysis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0cfb685b-6b09-4020-a51c-a630e8c9469f",
                    "leftValue": "={{ $json.document_type }}",
                    "rightValue": "Case Law",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Legal Research"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "55ad8f0b-6c3c-479d-80e5-fd58c8c900cf",
                    "leftValue": "={{ $json.document_type }}",
                    "rightValue": "Legal Memo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Legal Memo"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        784,
        1072
      ],
      "id": "079de89c-4745-4f39-b1d3-9e660c243f03",
      "name": "IF_RouteByDocumentType"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8NSJ2Q8G",
          "mode": "list",
          "cachedResultName": "automation_alerts"
        },
        "text": "=⚠️ Document Type Error Identified\nClient : {{ $json.client_name }}\nClient Email : {{ $json.client_email }}\nCase ID : {{ $json.case_id }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1184,
        1008
      ],
      "id": "cb17c836-52f2-4e1e-ae95-420f25d0b626",
      "name": "Slack_NotifyManualReview2",
      "webhookId": "f93ddbf3-50a4-4119-96f3-27498315ca0e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "gIO5wYibUvGmWFKQ",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Map Aggregate output to Unified Lead Schema\nconst item = $input.first().json;\n\n// Parse metadata if it's still a string\nlet meta = {};\ntry {\n  meta = typeof item.metadata === 'string' ? JSON.parse(item.metadata) : (item.metadata || {});\n} catch (e) {\n  meta = { dates: [], parties: [], jurisdiction: [] };\n}\n\n// Resolve full contract text (Summarize outputs concatenated text as \"text\")\nconst fullText =\n  (typeof item.text === 'string' && item.text.trim()) ? item.text :\n  (typeof item.concatenated_text === 'string' && item.concatenated_text.trim()) ? item.concatenated_text :\n  (typeof item.full_text === 'string' && item.full_text.trim()) ? item.full_text :\n  \"\";\n\n// Guardrail (optional but recommended)\nif (!fullText) {\n  throw new Error(\"ClassifyDocument error: full_text is empty. Expected aggregated text in field 'text'.\");\n}\n\nreturn [{\n  json: {\n    // Identifiers\n    source_channel: item.source_channel || \"forms\",\n    doc_category: item.document_type, // contract / case_law\n\n    // Core Analysis Input\n    full_text: fullText,\n\n    // Metadata\n    extracted_meta: {\n      dates: meta.dates || [],\n      parties: meta.parties || [],\n      jurisdiction: meta.jurisdiction || []\n    },\n\n    // Routing & Notification Info\n    routing_info: {\n      document_type: $('Add_Metadata_&_ExtractedText').first().json.document_type,\n      client_email: $('Add_Metadata_&_ExtractedText').first().json.client_email,\n      jurisdiction: $('Add_Metadata_&_ExtractedText').first().json.jurisdiction,\n      client_name: item.client_name,\n      urgency: item.urgency_level || \"standard\"\n    },\n\n    timestamp: new Date().toISOString()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        1568
      ],
      "id": "403ab59d-d2db-4473-b44f-eb1c9ca8ac2b",
      "name": "ClassifyDocument"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "text",
              "separateBy": "other",
              "customSeparator": "\\n\\n"
            }
          ]
        },
        "fieldsToSplitBy": "document_id, source_channel, document_type, metadata, client_name, attorney_email",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        1184,
        1248
      ],
      "id": "39433cab-fcd8-4285-a1bb-0c5c7219fba3",
      "name": "Aggregate_MergeChunks1"
    },
    {
      "parameters": {
        "content": "# Phase 3A -> Contract Analysis",
        "height": 656,
        "width": 1376,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        1424
      ],
      "id": "f0a57b96-acd0-42be-882c-ef5bab8e9059",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"report_metadata\": {\n    \"overall_compliance_status\": \"COMPLIANT | NON-COMPLIANT | INCOMPLETE\",\n    \"overall_risk_level\": \"LOW | MEDIUM | HIGH | CRITICAL\",\n    \"confidence_score\": \"number\"\n  },\n  \"executive_summary\": {\n    \"primary_risk_statement\": \"string\",\n    \"compliance_status_explanation\": \"string\",\n    \"recommended_next_steps\": \"string\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1088,
        1776
      ],
      "id": "e8a38f44-8579-499b-88c9-d0c7cc4f53fa",
      "name": "Parser_ContractReport "
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"overall_compliance_status\": \"COMPLIANT | NON-COMPLIANT | INCOMPLETE\",\n  \"overall_risk_level\": \"LOW | MEDIUM | HIGH | CRITICAL\",\n  \"key_statutes\": [\"string\"],\n  \"compliance_gaps\": [\n    {\n      \"regulation\": \"string\",\n      \"issue\": \"string\",\n      \"severity\": \"CRITICAL | HIGH | MEDIUM\"\n    }\n  ],\n  \"recommended_redlines\": [\n    {\n      \"issue\": \"string\",\n      \"suggested_language\": \"string\",\n      \"priority\": \"MUST | SHOULD | OPTIONAL\"\n    }\n  ],\n  \"executive_summary\": \"string\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -256,
        1440
      ],
      "id": "6238ca07-c8b4-4d9c-93f0-93e43f72f7a6",
      "name": "Parser_ComplianceReport"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jurisdictions:\n- Client jurisdiction(s): {{ $('ClassifyDocument').first().json.routing_info.jurisdiction }}\n- Risk Level: {{ $('AIAgent_AssessContractRisk').item.json.output.extracted_clauses[0].risk_level }}\n- Risk Score: {{ $('AIAgent_AssessContractRisk').item.json.output.extracted_clauses[0].risk_score }}\nClause Text to Evaluate:\n\nClause Text 1:\n{{ $('AIAgent_AssessContractRisk').item.json.output.extracted_clauses[0].clause_text }}\n\nClause Text 2:\n{{ $('AIAgent_AssessContractRisk').item.json.output.extracted_clauses[1].clause_text }}\n\nClause Text 3: \n{{ $('AIAgent_AssessContractRisk').item.json.output.extracted_clauses[2].clause_text }}\n\nTask:\nDetermine whether this clause complies with applicable statutory and regulatory requirements for the relevant jurisdictions.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a regulatory compliance validation engine.\n\nYour task is to assess whether the provided contractual clause texts complies with applicable statutes and regulations for the stated jurisdictions.\n\nRules:\n- Base conclusions ONLY on the provided clause texts.\n- If required information is missing or ambiguous, mark the result as INCOMPLETE.\n- Do NOT infer missing clauses.\n- Cite statutes only when the clause types clearly implicates them.\n- Do NOT provide legal advice or negotiation commentary beyond compliance findings.\n- Output MUST strictly conform to the defined JSON schema.\n- Do NOT include markdown, commentary, or explanations outside the schema.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -384,
        1568
      ],
      "id": "cf72cb99-dbf6-4412-9bc0-b73f9ba70a51",
      "name": "Agent_CheckCompliance",
      "retryOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Normalized Compliance Summary:\n- Overall Compliance Status: {{ $json.overall_compliance_status }}\n- Compliance Flags: {{ JSON.stringify($json.compliance_flags) }}\n\nReturn STRICT JSON in this schema only:\n{\n  \"report_metadata\": {\n    \"overall_compliance_status\": \"COMPLIANT | NON-COMPLIANT | INCOMPLETE\",\n    \"overall_risk_level\": \"LOW | MEDIUM | HIGH | CRITICAL\",\n    \"confidence_score\": 0.0\n  },\n  \"executive_summary\": {\n    \"primary_risk_statement\": \"string\",\n    \"compliance_status_explanation\": \"string\",\n    \"recommended_next_steps\": \"string\"\n  }\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a legal synthesis engine producing executive-level contract risk summaries.\n\nYou do NOT perform legal analysis.\nYou do NOT validate compliance.\nYou do NOT introduce new risks, statutes, or interpretations.\n\nYour sole responsibility is to transform the provided normalized compliance input into a concise, structured executive report suitable for a senior law firm partner.\n\nRules:\n- Use ONLY the information provided in the input.\n- Do NOT speculate or infer missing details.\n- Be decisive and neutral in tone.\n- If compliance status is INCOMPLETE, clearly state the blockers.\n- Do NOT include disclaimers, legal advice, or procedural commentary.\n- Output MUST strictly conform to the defined JSON schema in the Output Parser.\n- Do NOT include markdown, headings, or text outside the schema.\n- confidence_score must be between 0.7 and 0.95 depending on completeness.\nIf overall_compliance_status = INCOMPLETE, set confidence_score between 0.75–0.85.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -992,
        1904
      ],
      "id": "c259dc12-3539-47e4-916c-20bad1380b08",
      "name": "Agent_GenerateContractReport",
      "retryOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -480,
        1440
      ],
      "id": "e7358747-98b3-4092-983d-469a7f938ae8",
      "name": "2.5-flash v1",
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Phase 3B -> Legal Research",
        "height": 656,
        "width": 1440,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        1424
      ],
      "id": "0534ba40-3bd3-44a1-a332-8abbf9177702",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// -------------------- TEXT RESOLUTION --------------------\nconst fullText =\n  (typeof item.text === \"string\" && item.text.trim()) ? item.text :\n  (typeof item.extracted_text === \"string\" && item.extracted_text.trim()) ? item.extracted_text :\n  (typeof item.full_text === \"string\" && item.full_text.trim()) ? item.full_text :\n  null;\n\nif (!fullText) {\n  throw new Error(\"ParseResearchQuery error: No usable document text found (expected text/extracted_text/full_text).\");\n}\n\n// -------------------- METADATA NORMALIZATION --------------------\nconst metadata =\n  item.metadata && typeof item.metadata === \"object\"\n    ? item.metadata\n    : (item.original_metadata && typeof item.original_metadata === \"object\")\n    ? item.original_metadata\n    : {};\n\n// -------------------- DOCUMENT TYPE NORMALIZATION --------------------\nconst rawDocType = (item.document_type || \"\").toString().trim();\nconst documentType = rawDocType.toLowerCase().replace(/\\s+/g, \"_\"); \n// \"Case Law\" -> \"case_law\"\n\n// -------------------- JURISDICTION RESOLUTION --------------------\nlet jurisdiction = \"UNKNOWN\";\n\nif (typeof item.jurisdiction === \"string\" && item.jurisdiction.trim()) {\n  jurisdiction = item.jurisdiction.trim();\n} else if (Array.isArray(item.jurisdiction) && item.jurisdiction.length > 0) {\n  jurisdiction = String(item.jurisdiction[0]).trim();\n} else if (typeof metadata.jurisdiction === \"string\" && metadata.jurisdiction.trim()) {\n  jurisdiction = metadata.jurisdiction.trim();\n} else if (Array.isArray(metadata.jurisdiction) && metadata.jurisdiction.length > 0) {\n  jurisdiction = String(metadata.jurisdiction[0]).trim();\n}\n\n// -------------------- CLIENT POSITION (only meaningful for case law research) --------------------\nlet clientPosition = \"NOT_APPLICABLE\";\nif (documentType === \"case_law\") {\n  clientPosition = item.client_position || \"UNKNOWN\";\n}\n\n// -------------------- BUILD RESEARCH QUESTION --------------------\nconst fallbackSnippet = fullText.slice(0, 800).replace(/\\s+/g, \" \").trim();\n\nconst question =\n  (typeof item.question === \"string\" && item.question.trim())\n    ? item.question.trim()\n    : `Find relevant case law in ${jurisdiction} related to: ${fallbackSnippet}`;\n\n// Optional: legal issue field for downstream memo prompt formatting\nconst legalIssue =\n  (typeof item.legal_issue === \"string\" && item.legal_issue.trim())\n    ? item.legal_issue.trim()\n    : \"General legal research request (issue not explicitly provided)\";\n\n// -------------------- OUTPUT --------------------\nreturn [\n  {\n    json: {\n      source_channel: item.source_channel || \"form\",\n      received_at: item.received_at || item.recieved_at || new Date().toISOString(),\n\n      // ✅ Added fields\n      client_name: item.client_name || metadata.client_name || \"UNKNOWN\",\n      client_email: item.client_email || metadata.client_email || \"UNKNOWN\",\n\n      document_type: documentType,\n      jurisdiction,\n\n      question,\n      legal_issue: legalIssue,\n      client_position: clientPosition,\n\n      legal_text: fullText,\n      original_metadata: metadata,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        1616
      ],
      "id": "e5a3b320-d563-4c3e-9dbc-b282f279842f",
      "name": "ParseResearchQuery",
      "notesInFlow": false,
      "notes": "Extract semantic search variables from the document text."
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1056,
        1456
      ],
      "id": "be23dcb2-7c2b-4c39-99f5-a8fc30604839",
      "name": "Embeddings Google Gemini v2",
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        128,
        1520
      ],
      "id": "8da1f539-ee5a-4d61-ba96-a9092c9c316b",
      "name": "2.5-pro v3",
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=The user will ask questions about case law.\nUse the Pinecone_SearchCaseLaw tool to retrieve the most relevant cases and answer only based on those results.\n\nCurrent user question: {{$json[\"question\"]}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a retrieval-only legal research assistant.\nYour sole purpose is to answer questions about case law using the Pinecone_SearchCaseLaw tool.\n\nRules:\n\nYou must always call the Pinecone_SearchCaseLaw tool with the user’s question before answering.\nNever rely on your own knowledge or general legal information.\nOnly use the documents returned by Pinecone_SearchCaseLaw as your source of truth.\nDo not invent or assume information that is not present in the retrieved documents.\nIf the tool returns no relevant results, reply exactly with: Unable to retrieve data from the case law database."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        1616
      ],
      "id": "59cc6ba6-c3a6-47ea-918e-c867d21cb3ad",
      "name": "Pinecone_SearchCaseLaw",
      "notesInFlow": true,
      "retryOnFail": true,
      "onError": "continueRegularOutput",
      "notes": "Query databases"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve relevant case law passages from the legal-research index",
        "pineconeIndex": {
          "__rl": true,
          "value": "legal-research",
          "mode": "list",
          "cachedResultName": "legal-research"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        528,
        1456
      ],
      "id": "4d55fbb2-4482-4464-8593-78d0175cbafc",
      "name": "Pinecone_QueryCaseLaws",
      "notesInFlow": false,
      "credentials": {
        "pineconeApi": {
          "id": "ILX3YxtmoFAn7uxM",
          "name": "automation@fortiv Pinecone API"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=RESEARCH QUERY:\nIssue: {{ $('ParseResearchQuery').item.json.legal_issue }}\nJurisdiction: {{ $('ParseResearchQuery').item.json.jurisdiction }}\nClient Position: {{ $('ParseResearchQuery').item.json.client_position }}\n\nCASES TO ANALYZE:\n{{ JSON.stringify($json.output, null, 1) }}"
            },
            {
              "content": "You are a judicial clerk with federal appellate experience. You excel at synthesizing complex case law into clear, actionable analysis. You understand binding vs. persuasive authority",
              "role": "model"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1008,
        1616
      ],
      "id": "f2192a77-b0f6-4f94-9ef7-c097eec4c96f",
      "name": "AnalyzePrecedents",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        272,
        1808
      ],
      "id": "482c7196-b2d4-450e-985d-d11933032c50",
      "name": "Web Search",
      "credentials": {
        "tavilyApi": {
          "id": "MUB8XNspWlD6qv23",
          "name": "Fortiv.test03 A/c"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        112,
        1792
      ],
      "id": "dffe1d36-1486-4c2e-9db8-9f8986339e10",
      "name": "2.5-pro v4",
      "retryOnFail": true,
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "xiaomi/mimo-v2-flash:free",
          "mode": "list",
          "cachedResultName": "xiaomi/mimo-v2-flash:free"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1312,
        1792
      ],
      "id": "791aee96-67c0-4e9e-9617-f76f225f8e94",
      "name": "mimo-v2",
      "credentials": {
        "openAiApi": {
          "id": "dbMpq4FMgpoyf6ik",
          "name": "OpenRouter:free"
        }
      }
    },
    {
      "parameters": {
        "content": "# Phase 4A -> Contract Analysis Output",
        "height": 448,
        "width": 1376
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1488,
        2080
      ],
      "id": "c3cfbab1-268c-412e-b37d-b3bc81543a7e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Sample Payload for Branch (Contract Analysis)\n\n```json\n[\n  {\n    \"document_id\": \"CONTRACT_2026_00892\",\n    \"document_type\": \"contract\",\n    \"file_url\": \"https://drive.usercontent.google.com/download?id=1sKynUKBcOGHNXLDQ2au6gC9Hblb-MBGJ&export=download&authuser=4&confirm=t&uuid=80110462-3a70-42c5-9842-49ec6a7370d9&at=ANTm3cz8oM9j-HSsL-dqMrvy0qEb:1768302054302\",\n    \"attorney_email\": \"fortiv.solutions@gmail.com\",\n    \"client_name\": \"Fortiv Inc.\",\n    \"urgency_level\": \"high\",\n    \"analysis_type\": [\n      \"risk_assessment\",\n      \"clause_extraction\"\n    ],\n    \"jurisdiction\": \"India\"\n  }\n]\n```",
        "height": 384,
        "width": 1696
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3744,
        1424
      ],
      "id": "e9282cde-1396-42b2-abb2-f3b64c10ebc6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Expected Output for Branch (Contract Analysis)\n\n```json\n\"output\": {\n    \"analysis_summary\": \"47-page Software Acquisition Agreement contains 3 high-risk clauses: (1) Unlimited liability cap in §12.3, (2) 5-year non-compete in §8.2, (3) Ambiguous IP assignment in §15.1. Comparable firm case (2024 SaaS Acquisition) resulted in $2M liability. Recommend cap at 2x contract value.\",\n    \"risk_score\": 8.2,\n    \"precedent_cases\": [\"Oracle v. SAP (D. Del. 2023)\", \"TechVentures v. StartupCo (Del. Ch. 2024)\"],\n    \"extracted_clauses\": [{\"clause_type\": \"Indemnification\", \"section\": \"12.3\", \"risk_level\": \"high\"}],\n    \"compliance_flags\": [\"DE Corp Law §102(b)(7) - Liability limitation missing\"],\n    \"processing_time\": 143,\n    \"confidence_score\": 0.91,\n    \"recommended_action\": \"URGENT: Schedule client call within 24h\",\n    \"comparable_firm_cases\": [\"Internal_2024_SaaS_Agreement_ClientX\"]\n  }\n}\n```\n",
        "height": 336,
        "width": 1696
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3680,
        1856
      ],
      "id": "be5ae40b-ca77-4f9f-9fb2-4e4f56e7751c",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Sample Payload for branch Legal Research\n\n```json\n{\n  \"document_id\": \"RESEARCH_2026_9901\",\n  \"document_type\": \"case_law\",\n  \"file_url\": \"[https://firm-vault.com/cases/non_compete_memo.pdf](https://firm-vault.com/cases/non_compete_memo.pdf)\",\n  \"case_id\": \"MATTER-552\",\n  \"attorney_email\": \"david.vance@lawfirm.com\",\n  \"client_name\": \"Global Logistics Corp\",\n  \"urgency_level\": \"standard\",\n  \"analysis_type\": [\"precedent_search\", \"legislative_update\"],\n  \"jurisdiction\": \"CA\"\n}\n```",
        "height": 320,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        1408
      ],
      "id": "a5766a42-2125-4ae2-98f5-7d37cecccafa",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Sample Expected Output for branch Legal Research\n\n```json\n{\n  \"research_summary\": \"California courts maintain a strict policy against non-compete agreements under B&P Code §16600, with very narrow exceptions for the sale of a business.\",\n  \"case_analysis\": [\n    {\n      \"citation\": \"Edwards v. Arthur Andersen LLP, 44 Cal. 4th 937 (2008)\",\n      \"authority_level\": \"BINDING\",\n      \"applicability_score\": 9.8,\n      \"holding\": \"Rejected the 'narrow restraint' exception; non-competes are void in CA.\",\n      \"applicability_to_our_case\": \"Directly invalidates the restrictive covenant in the client's current agreement.\"\n    }\n  ],\n  \"legislative_alert\": {\n    \"statute\": \"SB 699 / AB 1076 (Enacted 2024)\",\n    \"impact\": \"Now provides for civil penalties and attorney fees for employers attempting to enforce void non-competes.\"\n  },\n  \"recommendation\": \"Advise client that the clause is unenforceable and attempt to settle without litigation to avoid statutory penalties under the 2024 updates.\"\n}\n```",
        "height": 416,
        "width": 1232
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1952,
        1744
      ],
      "id": "a7c76dad-65c7-46a8-92af-fb201fdd4a0e",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{ $json.body.client_name }}_{{ $now.toFormat(\"dd/MM/yyyy\") }}_{{ $json.file.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1wNBVGrg38D4xcQ599UScVZa_LOBh61ru",
          "mode": "list",
          "cachedResultName": "Law Firm Automation Documents",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1wNBVGrg38D4xcQ599UScVZa_LOBh61ru"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1040,
        1104
      ],
      "id": "b919feae-93f5-423e-92fe-fe74fa6d0d2a",
      "name": "GoogleDrive_UploadDocument",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "i7kiAkzTbxQ3doT1",
          "name": "GC crisronald(temporary)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dfd9764-b701-42fa-88ad-67066a19e2f8",
              "name": "client_name",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.client_name }}",
              "type": "string"
            },
            {
              "id": "ee63a549-095c-4dab-8efb-27eb85efbe2c",
              "name": "client_email",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.client_email }}",
              "type": "string"
            },
            {
              "id": "75643597-260b-4535-afb8-f9673ec4be68",
              "name": "case_id",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.case_id }}",
              "type": "string"
            },
            {
              "id": "ce265077-9be1-4b2e-b9f1-d42909df6d1d",
              "name": "file_url",
              "value": "={{ $json.webContentLink }}",
              "type": "string"
            },
            {
              "id": "5fbdad26-6e25-4731-8904-fc7bcb440c6b",
              "name": "document_type",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.document_type }}",
              "type": "string"
            },
            {
              "id": "8e0fcef8-8ea2-4512-a05a-3d6f4a995bb4",
              "name": "analysis_type",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.analysis_type }}",
              "type": "array"
            },
            {
              "id": "00a29c34-3263-4782-8fb0-8a90a3d4dba2",
              "name": "jurisdiction",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.jurisdiction }}",
              "type": "string"
            },
            {
              "id": "3fc747b6-2db8-422b-b5a2-60791fb05144",
              "name": "urgency_level",
              "value": "={{ $('Webhook_TriggerFormEvent').item.json.body.urgency_level }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        1104
      ],
      "id": "f83a0743-e4b9-4319-87d5-53676f639235",
      "name": "Set_NormalizeInput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"research_summary\": \"string\",\n  \"case_analysis\": [\n    {\n      \"citation\": \"string\",\n      \"authority_level\": \"BINDING | PERSUASIVE | SECONDARY\",\n      \"applicability_score\": \"number\",\n      \"holding\": \"string\",\n      \"applicability_to_our_case\": \"string\"\n    }\n  ],\n  \"legislative_alert\": {\n    \"statute\": \"string\",\n    \"impact\": \"string\"\n  },\n  \"recommendation\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        400,
        1504
      ],
      "id": "cde045d1-be54-4a37-b997-a6377afcbc37",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Search for any legislative updates or new statutes in {{ $('ParseResearchQuery').item.json.jurisdiction }} enacted 2024 onwards regarding {{ $('ParseResearchQuery').item.json.legal_issue }}\nTo ensure the law hasn't changed since these precedents were decided\n\nUsing 'Web Search' tool\n\nUse Output Format as per the Output Parser\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        16,
        1904
      ],
      "id": "d750dbf5-a9f3-4389-a852-566f0b70201b",
      "name": "CheckLegislativeUpdates",
      "retryOnFail": true,
      "maxTries": 4,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"jurisdiction\": \"California\",\n  \"issue\": \"Non-compete enforceability under B&P Code §16600\",\n  \"updates_found\": [\n    {\n      \"statute\": \"SB 699 (2023–2024)\",\n      \"effective_date\": \"2024-01-01\",\n      \"summary\": \"Expands restrictions and remedies related to enforcement of void non-compete agreements.\",\n      \"source\": \"Strictly give a link/title from web result\"\n    }\n  ],\n  \"conclusion\": \"Law updated after key precedents; memo should include statutory changes.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        528,
        1824
      ],
      "id": "29ccab5b-046b-4ecd-8726-fb5cfd96b52e",
      "name": "Structured Output Parser2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"research_summary\": \"string\",\n  \"case_analysis\": [\n    {\n      \"citation\": \"C.R.P. 7/2019 …\",\n      \"authority_level\": \"BINDING | PERSUASIVE | SECONDARY\",\n      \"applicability_score\": \"decimal number (between 0-1)\",\n      \"holding\": \"string\",\n      \"applicability_to_our_case\": \"string\"\n    }\n  ],\n  \"legislative_alert\": {\n    \"statute\": \"string\",\n    \"impact\": \"string\"\n  },\n  \"recommendation\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        1808
      ],
      "id": "42b07fb5-4751-4f68-8d23-24b1d0a70d05",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        784,
        1840
      ],
      "id": "fec6f36f-1257-4cdb-b745-8199bf42e6d2",
      "name": "2.5-pro v6",
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=CONTRACT METADATA\nClient Name: {{ $json.routing_info.client_name }}\nUrgency: {{ $json.routing_info.urgency }}\nJurisdiction: {{ $json.routing_info.jurisdiction }}\n\nFULL CONTRACT TEXT:\n{{ $json.full_text }}\n\nTASK\nExtract 2–5 high-impact risk clauses from the contract text.\nReturn JSON only in the exact schema required by the output parser.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a contract risk extraction engine.\n\nYou must output ONLY valid JSON that matches the output schema exactly.\nNo markdown. No explanations. No extra keys. No trailing commas.\n\nHard rules:\n- Always return a JSON object with the required keys.\n- extracted_clauses must contain 2 to 5 items.\n- Each extracted_clauses item must include:\n  clause_type, section, risk_level, clause_text, risk_score, key_concerns, suggested_language\n- risk_level must be one of: low, medium, high, critical\n- risk_score must be a decimal number between 0 and 1.\n- If section is missing, use \"UNKNOWN\".\n- If clause_text cannot be found exactly, extract the closest relevant paragraph and include it.\n- precedent_cases must contain 2 to 4 strings (best-effort placeholders allowed).\n- comparable_firm_cases must contain 1 to 3 strings using IDs like:\n  Internal_2026_ContractRisk_ClientX\n\nIf the contract text is missing or unusable:\n- Return the schema with safe defaults and confidence_score = 0.70\n- risk_score must still be between 0 and 1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1168,
        1568
      ],
      "id": "8ef14878-4860-460d-92e7-79b6ef5812d0",
      "name": "AIAgent_AssessContractRisk",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"analysis_summary\": \"string\",\n  \"risk_score\": \"number\",\n  \"precedent_cases\": [\"string\"],\n  \"comparable_firm_cases\": [\"string\"],\n  \"extracted_clauses\": [\n    {\n      \"clause_type\": \"string\",\n      \"section\": \"string\",\n      \"risk_level\": \"low | medium | high | critical\",\n      \"clause_text\": \"string\",\n      \"risk_score\": \"number\",\n      \"key_concerns\": \"string\",\n      \"suggested_language\": \"string\"\n    }\n  ],\n  \"confidence_score\": \"number\",\n  \"recommended_action\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -704,
        1456
      ],
      "id": "d9f95298-e31d-438a-91fa-936944cb0b04",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -896,
        1456
      ],
      "id": "0287d321-42d2-4749-af2f-afa17d9cc68f",
      "name": "2.5-pro v7",
      "credentials": {
        "googlePalmApi": {
          "id": "EiV9BLBLpTSPEXh1",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// Guard\nif (!Array.isArray(raw)) {\n  throw new Error(\"NormalizeComplianceFlags: Expected $json.output to be an array.\");\n}\n\n// Build compliance flags\nconst flags = [];\nlet hasIncomplete = false;\nlet hasNonCompliant = false;\n\nfor (const c of raw) {\n  const clauseId = c.clause_id || \"UNKNOWN\";\n  const status = (c.compliance_status || \"INCOMPLETE\").toUpperCase();\n  const statutes = Array.isArray(c.statutes_cited) ? c.statutes_cited : [];\n\n  if (status === \"INCOMPLETE\") hasIncomplete = true;\n  if (status === \"NON-COMPLIANT\" || status === \"NON_COMPLIANT\") hasNonCompliant = true;\n\n  // Build a clean flag line\n  if (status !== \"COMPLIANT\") {\n    const statuteText = statutes.length ? statutes.join(\", \") : \"No statute cited\";\n    const note = c.notes ? c.notes.trim() : \"No notes provided\";\n\n    flags.push(`${statuteText} - ${status} (Clause ${clauseId}): ${note}`);\n  }\n}\n\n// Overall compliance status\nlet overall_compliance_status = \"COMPLIANT\";\nif (hasNonCompliant) overall_compliance_status = \"NON-COMPLIANT\";\nelse if (hasIncomplete) overall_compliance_status = \"INCOMPLETE\";\n\nreturn [\n  {\n    json: {\n      overall_compliance_status,\n      compliance_flags: flags,\n      compliance_raw: raw\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        1904
      ],
      "id": "45c310e2-317a-4773-b28a-d44b4c9f4f74",
      "name": "Function_NormalizeComplianceFlags"
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// If it's already an object, pass through\nif (raw && typeof raw === \"object\") {\n  return [{ json: raw }];\n}\n\n// If it's a stringified JSON, parse it\nif (typeof raw === \"string\") {\n  try {\n    const parsed = JSON.parse(raw);\n    return [{ json: parsed }];\n  } catch (e) {\n    throw new Error(\"GenerateContractReport output is not valid JSON string.\");\n  }\n}\n\nthrow new Error(\"GenerateContractReport output is missing or invalid.\");\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        1904
      ],
      "id": "977b6753-6e04-447e-a27c-439345a2af31",
      "name": "Function_ParseContractReportOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a final legal research memo output using the exact JSON schema below.\n\nSchema (must match exactly):\n{\n  \"research_summary\": \"string\",\n  \"case_analysis\": [\n    {\n      \"citation\": \"C.R.P. 7/2019 …\",\n      \"authority_level\": \"BINDING | PERSUASIVE | SECONDARY\",\n      \"applicability_score\": number,\n      \"holding\": \"string\",\n      \"applicability_to_our_case\": \"string\"\n    }\n  ],\n  \"legislative_alert\": {\n    \"statute\": \"string\",\n    \"impact\": \"string\"\n  },\n  \"recommendation\": \"string\"\n}\n\nINPUTS:\n\n1) Research Query\nIssue: {{ $('ParseResearchQuery').item.json.legal_issue }}\nJurisdiction: {{ $('ParseResearchQuery').item.json.jurisdiction }}\nClient Position: {{ $('ParseResearchQuery').item.json.client_position }}\n\n2) Case Law Analysis (from AnalyzePrecedents)\n{{ JSON.stringify($('AnalyzePrecedents').item.json.content.parts, null, 2) }}\n\n3) Legislative Updates (from CheckLegislativeUpdates)\n{{ JSON.stringify($('CheckLegislativeUpdates').item.json.output, null, 2) }}\n\nInstructions:\n- research_summary must be 1–2 sentences answering the legal issue.\n- case_analysis must include the most relevant case(s) from the provided analysis.\n- If the inputs include only 1 case, return only 1 object in case_analysis.\n- recommendation must be a clear action-oriented conclusion based only on the provided inputs.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a legal research memo generator.\n\nYou MUST produce output in valid JSON ONLY.\nDo NOT include markdown, headings, bullet points, commentary, or disclaimers.\nDo NOT include any text outside the JSON object.\n\nRules:\n- Use ONLY the case analysis and legislative update inputs provided.\n- If legislative updates are missing or uncertain, set:\n  legislative_alert.statute = \"UNKNOWN\"\n  legislative_alert.impact = \"No verified legislative update found in provided inputs.\"\n- authority_level must be one of: \"BINDING\", \"PERSUASIVE\", \"SECONDARY\"\n- applicability_score must be a number from 0 to 10.\n- The JSON must match the schema exactly.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1056,
        1904
      ],
      "id": "b85ff8e1-9c62-461b-883f-244ac096a47c",
      "name": "Generate_ResearchMemo",
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "e18869f5-7ad7-4cbd-b69f-e6ca903db7eb",
              "leftValue": "={{ $json.output.confidence_score }}",
              "rightValue": "=0.7",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1440,
        2192
      ],
      "id": "1f997a72-4c33-46f6-af05-15c30e88512a",
      "name": "Contract_IF_RouteByConfidence"
    },
    {
      "parameters": {
        "content": "# Phase 4B -> Legal Research Output",
        "height": 448,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        2080
      ],
      "id": "a3fc18fa-8d9b-466a-98b4-e47333735b9d",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "tableId": "contract_analysis",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_name",
              "fieldValue": "={{ $('ClassifyDocument').first().json.routing_info.client_name }}"
            },
            {
              "fieldId": "client_email",
              "fieldValue": "={{ $('ClassifyDocument').first().json.routing_info.client_email }}"
            },
            {
              "fieldId": "document_type",
              "fieldValue": "={{ $('ClassifyDocument').first().json.routing_info.document_type }}"
            },
            {
              "fieldId": "jurisdiction",
              "fieldValue": "={{ $('ClassifyDocument').first().json.routing_info.jurisdiction }}"
            },
            {
              "fieldId": "risk_level",
              "fieldValue": "={{ $('Function_ParseContractReportOutput').item.json.report_metadata.overall_risk_level }}"
            },
            {
              "fieldId": "recommendations",
              "fieldValue": "={{ $('Function_BuildFinalContractPayload').item.json.output.recommended_action }}"
            },
            {
              "fieldId": "confidence_score",
              "fieldValue": "={{ $('Function_BuildFinalContractPayload').item.json.output.confidence_score }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -816,
        2176
      ],
      "id": "31b757a3-8221-4953-936f-69e0501f02d0",
      "name": "Contract_Supabase_InsertAnalysis",
      "credentials": {
        "supabaseApi": {
          "id": "N55ka1kYuaOqAOnf",
          "name": "Law Firm DB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8NSJ2Q8G",
          "mode": "list",
          "cachedResultName": "automation_alerts"
        },
        "text": "=Low Confidence or Risk Score detected ⚠️\n\nClient: {{ $('Webhook_ReceiveLegalDocument (Trigger)').item.json.client_name }}\nDoc ID: {{ $('Webhook_ReceiveLegalDocument (Trigger)').item.json.document_id }}\nRisk Score: {{ $json.risk_score }}\n\nRequest for the teeam to kindly review this\n",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -816,
        2352
      ],
      "id": "65d4a4cd-5199-4f44-8a21-fef6438261e6",
      "name": "Contract_Notify_LegalTeam",
      "webhookId": "eb6aecc1-0a9b-42a4-8fd1-0e2268458fa4",
      "notesInFlow": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "gIO5wYibUvGmWFKQ",
          "name": "Slack account"
        }
      },
      "notes": "Alert via Slack and email, IF risk_score ≥8.0 → #legal-urgent with   @mention,  ELSE → #legal-alerts"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xMFJvUziHECCmFGFLyv9iqF1iUo9FX69ilqMH6pzXN8",
          "mode": "list",
          "cachedResultName": "Law Firm Automation Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xMFJvUziHECCmFGFLyv9iqF1iUo9FX69ilqMH6pzXN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "contract_analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xMFJvUziHECCmFGFLyv9iqF1iUo9FX69ilqMH6pzXN8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "==Row()-1",
            "Client Name": "={{ $json.client_name }}",
            "Client Email": "={{ $json.client_email }}",
            "Document Type": "={{ $json.document_type }}",
            "Jurisdiction": "={{ $json.jurisdiction }}",
            "Recommendations": "={{ $json.recommendations }}",
            "Risk Summary": "={{ $json.risk_summary }}",
            "Risk Level": "={{ $json.risk_level }}",
            "Compliance Status": "={{ $json.compliance_status }}",
            "Compliance Summary": "={{ $json.compliance_summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Type",
              "displayName": "Document Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jurisdiction",
              "displayName": "Jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Risk Summary",
              "displayName": "Risk Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Risk Level",
              "displayName": "Risk Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Compliance Status",
              "displayName": "Compliance Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Compliance Summary",
              "displayName": "Compliance Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommendations",
              "displayName": "Recommendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -496,
        2320
      ],
      "id": "90bc574c-e65d-419c-a114-a93d7fccbea0",
      "name": "Contract_Sheets_AppendLogs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qplUIgQXzfZjkttr",
          "name": "crisronald261 (temporary) GC"
        }
      }
    },
    {
      "parameters": {
        "tableId": "legal_research",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_name",
              "fieldValue": "={{ $('ParseResearchQuery').first().json.client_name }}"
            },
            {
              "fieldId": "client_email",
              "fieldValue": "={{ $('ParseResearchQuery').first().json.client_email }}"
            },
            {
              "fieldId": "document_type",
              "fieldValue": "={{ $('ParseResearchQuery').first().json.document_type }}"
            },
            {
              "fieldId": "jurisdiction",
              "fieldValue": "={{ $('ParseResearchQuery').first().json.jurisdiction }}"
            },
            {
              "fieldId": "research_summary",
              "fieldValue": "={{ $('Generate_ResearchMemo').item.json.output.research_summary }}"
            },
            {
              "fieldId": "recommendations",
              "fieldValue": "={{ $('Generate_ResearchMemo').item.json.output.recommendation }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $now.toFormat(\"MM/dd/yy\") }}"
            },
            {
              "fieldId": "applicability_score",
              "fieldValue": "={{ $json.output.case_analysis[0].applicability_score }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        672,
        2160
      ],
      "id": "363d9b9a-de93-4d56-a4c1-5edf040f6857",
      "name": "Legal_Supabase_InsertAnalysis",
      "credentials": {
        "supabaseApi": {
          "id": "N55ka1kYuaOqAOnf",
          "name": "Law Firm DB"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A8NSJ2Q8G",
          "mode": "list",
          "cachedResultName": "automation_alerts"
        },
        "text": "=Low Confidence or Risk Score detected ⚠️\n\nClient: {{ $('Webhook_TriggerFormEvent').item.json.body.client_name }}\n\nDoc ID: {{ $('Webhook_TriggerFormEvent').item.json.body.document_id }}\n\nRisk Score: {{ $json.risk_score }}\n\nRequest for the teeam to kindly review this\n",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        672,
        2336
      ],
      "id": "a41f1353-7b44-41d4-b442-1bfbb58846dd",
      "name": "Legal_Notify_LegalTeam",
      "webhookId": "eb6aecc1-0a9b-42a4-8fd1-0e2268458fa4",
      "notesInFlow": true,
      "credentials": {
        "slackOAuth2Api": {
          "id": "gIO5wYibUvGmWFKQ",
          "name": "Slack account"
        }
      },
      "notes": "Alert via Slack and email, IF risk_score ≥8.0 → #legal-urgent with   @mention,  ELSE → #legal-alerts"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xMFJvUziHECCmFGFLyv9iqF1iUo9FX69ilqMH6pzXN8",
          "mode": "list",
          "cachedResultName": "Law Firm Automation Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xMFJvUziHECCmFGFLyv9iqF1iUo9FX69ilqMH6pzXN8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1323621156,
          "mode": "list",
          "cachedResultName": "legal_research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xMFJvUziHECCmFGFLyv9iqF1iUo9FX69ilqMH6pzXN8/edit#gid=1323621156"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Id": "==Row()-1",
            "Client Name": "={{ $('ParseResearchQuery').first().json.client_name }}",
            "Client Email": "={{ $('ParseResearchQuery').first().json.client_email }}",
            "Document Type": "={{ $('ParseResearchQuery').first().json.document_type }}",
            "Case ID": "={{ $('Add_Metadata_&_ExtractedText').first().json.case_id }}",
            "Jurisdiction": "={{ $('ParseResearchQuery').first().json.jurisdiction }}",
            "Applicability Score": "={{ $('Generate_ResearchMemo').item.json.output.case_analysis[0].applicability_score }}",
            "Research Summary": "={{ $('Generate_ResearchMemo').item.json.output.research_summary }}",
            "Recommendations": "={{ $('Generate_ResearchMemo').item.json.output.recommendation }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Name",
              "displayName": "Client Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Client Email",
              "displayName": "Client Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Document Type",
              "displayName": "Document Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Case ID",
              "displayName": "Case ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Jurisdiction",
              "displayName": "Jurisdiction",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Applicability Score",
              "displayName": "Applicability Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Research Summary",
              "displayName": "Research Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommendations",
              "displayName": "Recommendations",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        912,
        2160
      ],
      "id": "8d9b534f-84fb-48ba-bec5-1a1604f98218",
      "name": "Legal_Sheets_AppendLogs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qplUIgQXzfZjkttr",
          "name": "crisronald261 (temporary) GC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "a08de6d1-0732-4a8e-b16a-a0a69deb4ecd",
              "leftValue": "={{ $json.output.case_analysis[0].applicability_score }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -64,
        2176
      ],
      "id": "e6bf1abd-bd80-4e31-b868-b0e18d556725",
      "name": "Legal_IF_RouteByApplicability"
    },
    {
      "parameters": {
        "jsCode": "const riskOut = $('AIAgent_AssessContractRisk').first().json.output || {};\nconst complianceNode = $('Function_NormalizeComplianceFlags').first().json || {};\n\nreturn [\n  {\n    json: {\n      output: {\n        analysis_summary: riskOut.analysis_summary || \"Summary unavailable\",\n        risk_score: Number(riskOut.risk_score ?? 7.5),\n        precedent_cases: Array.isArray(riskOut.precedent_cases) ? riskOut.precedent_cases : [],\n        extracted_clauses: Array.isArray(riskOut.extracted_clauses) ? riskOut.extracted_clauses : [],\n        compliance_flags: Array.isArray(complianceNode.compliance_flags) ? complianceNode.compliance_flags : [],\n        processing_time: 11,\n        confidence_score: Number(riskOut.confidence_score ?? 0.8),\n        recommended_action: riskOut.recommended_action || \"Review findings\",\n        comparable_firm_cases: Array.isArray(riskOut.comparable_firm_cases) ? riskOut.comparable_firm_cases : []\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        1904
      ],
      "id": "8deffbfd-cda1-4540-91ae-957a3d519474",
      "name": "Function_BuildFinalContractPayload"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8d7c66f-a581-43cd-b77f-5f4e03b10bf4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        1104
      ],
      "id": "eab2bf7c-ac9e-4bbd-8a46-acd958a96359",
      "name": "Webhook_TriggerFormEvent",
      "webhookId": "b8d7c66f-a581-43cd-b77f-5f4e03b10bf4"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1200,
        2608
      ],
      "id": "de2f1fe1-f8a0-4b59-9106-8f721aa18d5f",
      "name": "Webhook_RespondToUI"
    }
  ],
  "pinData": {
    "Webhook_TriggerFormEvent": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1241696.hstgr.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36 Edg/143.0.0.0",
            "content-length": "378048",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "multipart/form-data; boundary=----WebKitFormBoundaryZmXkD3QbYLE6i9yA",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Microsoft Edge\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "43.241.194.2",
            "x-forwarded-host": "n8n.srv1241696.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "85a76059f7f3",
            "x-real-ip": "43.241.194.2"
          },
          "params": {},
          "query": {},
          "body": {
            "document_id": "test1",
            "document_type": "Case Law",
            "client_name": "test1 ",
            "client_email": "test1@gmail.com",
            "urgency_level": "standard",
            "analysis_type": "[\"legislative_update\"]",
            "case_id": "CASE_1",
            "jurisdiction": "India"
          },
          "webhookUrl": "https://n8n.srv1241696.hstgr.cloud/webhook/b8d7c66f-a581-43cd-b77f-5f4e03b10bf4",
          "executionMode": "production"
        },
        "binary": {
          "file": {
            "mimeType": "application/pdf",
            "fileType": "pdf",
            "fileExtension": "pdf",
            "data": "filesystem-v2",
            "fileName": "Hindustan Construction Company vs Union of India - India.PDF",
            "id": "filesystem-v2:workflows/rDd1WuXXFqzLJRGq/executions/temp/binary_data/99451bc1-312c-4399-aae3-e9aca1c45ac8",
            "fileSize": "377 kB"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Function_NormalizeExtractedText": {
      "main": [
        [
          {
            "node": "Function_PreprocessDocument",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDFCo_ExtractText": {
      "main": [
        [
          {
            "node": "Function_NormalizeExtractedText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function_PreprocessDocument": {
      "main": [
        [
          {
            "node": "Add_Metadata_&_ExtractedText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_Metadata_&_ExtractedText": {
      "main": [
        [
          {
            "node": "IF_RouteByDocumentType",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_RouteByDocumentType": {
      "main": [
        [
          {
            "node": "Aggregate_MergeChunks1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ParseResearchQuery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ParseResearchQuery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack_NotifyManualReview2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClassifyDocument": {
      "main": [
        [
          {
            "node": "AIAgent_AssessContractRisk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate_MergeChunks1": {
      "main": [
        [
          {
            "node": "ClassifyDocument",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser_ContractReport ": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_GenerateContractReport",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Parser_ComplianceReport": {
      "ai_outputParser": [
        [
          {
            "node": "Agent_CheckCompliance",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agent_CheckCompliance": {
      "main": [
        [
          {
            "node": "Function_NormalizeComplianceFlags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent_GenerateContractReport": {
      "main": [
        [
          {
            "node": "Function_ParseContractReportOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5-flash v1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_CheckCompliance",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "ParseResearchQuery": {
      "main": [
        [
          {
            "node": "Pinecone_SearchCaseLaw",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini v2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone_QueryCaseLaws",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "2.5-pro v3": {
      "ai_languageModel": [
        [
          {
            "node": "Pinecone_SearchCaseLaw",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone_SearchCaseLaw": {
      "main": [
        [
          {
            "node": "AnalyzePrecedents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone_QueryCaseLaws": {
      "ai_tool": [
        [
          {
            "node": "Pinecone_SearchCaseLaw",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AnalyzePrecedents": {
      "main": [
        [
          {
            "node": "CheckLegislativeUpdates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "CheckLegislativeUpdates",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "2.5-pro v4": {
      "ai_languageModel": [
        [
          {
            "node": "CheckLegislativeUpdates",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "mimo-v2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent_GenerateContractReport",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GoogleDrive_UploadDocument": {
      "main": [
        [
          {
            "node": "Set_NormalizeInput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set_NormalizeInput": {
      "main": [
        [
          {
            "node": "PDFCo_ExtractText",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Pinecone_SearchCaseLaw",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "CheckLegislativeUpdates": {
      "main": [
        [
          {
            "node": "Generate_ResearchMemo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "CheckLegislativeUpdates",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Generate_ResearchMemo",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "2.5-pro v6": {
      "ai_languageModel": [
        [
          {
            "node": "Generate_ResearchMemo",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AIAgent_AssessContractRisk",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AIAgent_AssessContractRisk": {
      "main": [
        [
          {
            "node": "Agent_CheckCompliance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2.5-pro v7": {
      "ai_languageModel": [
        [
          {
            "node": "AIAgent_AssessContractRisk",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Function_NormalizeComplianceFlags": {
      "main": [
        [
          {
            "node": "Agent_GenerateContractReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function_ParseContractReportOutput": {
      "main": [
        [
          {
            "node": "Function_BuildFinalContractPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate_ResearchMemo": {
      "main": [
        [
          {
            "node": "Legal_IF_RouteByApplicability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract_IF_RouteByConfidence": {
      "main": [
        [
          {
            "node": "Contract_Supabase_InsertAnalysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Contract_Notify_LegalTeam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract_Supabase_InsertAnalysis": {
      "main": [
        [
          {
            "node": "Contract_Sheets_AppendLogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Legal_Supabase_InsertAnalysis": {
      "main": [
        [
          {
            "node": "Legal_Sheets_AppendLogs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Legal_IF_RouteByApplicability": {
      "main": [
        [
          {
            "node": "Legal_Supabase_InsertAnalysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Legal_Notify_LegalTeam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function_BuildFinalContractPayload": {
      "main": [
        [
          {
            "node": "Contract_IF_RouteByConfidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook_TriggerFormEvent": {
      "main": [
        [
          {
            "node": "GoogleDrive_UploadDocument",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract_Sheets_AppendLogs": {
      "main": [
        [
          {
            "node": "Webhook_RespondToUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Legal_Sheets_AppendLogs": {
      "main": [
        [
          {
            "node": "Webhook_RespondToUI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a1e49807-c9af-4ae6-9420-9fd459bac825",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc3412a0986fd9da2be403eaff9ca443fdab3b31644b356e92cd3a7b350bc54b"
  },
  "id": "rDd1WuXXFqzLJRGq",
  "tags": []
}